<div class="container-fluid">
  <md-content class="md-padding" layout="column">
    <form role="form" class="form-inline" ng-submit="vm.populateStats()">
        <div class="form-group">
          <label class="col-lg-2 control-label" for="nba-stats__startdate">Start Date</label>
          <div class="col-lg-10" id="nba-stats__date">
            <md-datepicker ng-model="vm.startdate" md-placeholder="Enter start date"></md-datepicker>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label" for="nba-stats__enddate">End Date</label>
          <div class="col-lg-10" id="nba-stats__date">
            <md-datepicker ng-model="vm.enddate" md-placeholder="Enter start date"></md-datepicker>
          </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-2 control-label" for="nba-stats__statstype">Stats Type</label>
            <div class="col-lg-10" id="nba-stats__statstype">
              <md-radio-group ng-model="vm.stats_type">
                <md-radio-button value="Player" class="md-primary">Player</md-radio-button>
                <md-radio-button value="Team">Team</md-radio-button>
              </md-radio-group>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <md-button type="submit" class="md-raised md-primary">Submit</md-button>
            </div>
        </div>
    </form>
  </md-content>
</div> <!-- /.container-fluid -->

<div class="animated slideInLeft" ng-show="vm.loading" layout="row" layout-sm="column" layout-align="space-around" id="nba_stats_loading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="animated slideInLeft" ng-show="vm.loaded" class="col-xs-12" id="nba_stats_tabs">
    <md-tabs ng-if="vm.stats_type == 'Team'">
      <md-tab label="Windowed" ng-click="vm.slideInNewPage('ALL')"></md-tab>
    </md-tabs>
    <md-tabs ng-if="vm.stats_type == 'Player'">
      <md-tab label="Guards" ng-click="vm.slideInNewPage('G')"></md-tab>
      <md-tab label="Forwards" ng-click="vm.slideInNewPage('F')"></md-tab>
      <md-tab label="Centers" ng-click="vm.slideInNewPage('C')"></md-tab>
    </md-tabs>
</div>

<div class="statsTable animated slideInLeft" ng-show="vm.focused">
  <table st-table="vm.displayed_rows" st-safe-src="vm.stat_rows" class="tableSection table table-hover" id="nba_stats_table">
    <thead>
      <tr>
          <th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="header in vm.displayed_headers" st-sort="{{header.key}}.v" ng-style="{position: relative}" st-skip-natural="true">
            <div ng-show="header.key == 'gid'" class="statCellLarge" ng-bind="header.name"></div>
            <div ng-show="header.key == 'pid'" class="statCellExtraLarge" ng-bind="header.name"></div>
            <div ng-show="header.key != 'pid' && header.key != 'gid'" class="statCellSmall" ng-bind="header.name"></div>
            <!--<input class="form-control input-mini" st-search="{{header.key}}" placeholder="{{header.name}}"/>-->
          </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in vm.displayed_rows" ng-click="vm.playerMatchup(row)">
        <td ng-repeat="header in vm.displayed_headers" ng-style="{'background-color': row[header.key].c}">
          <div ng-show="header.key == 'gid'" class="statCellLarge" ng-bind-html="row[header.key].v"></div>
          <div ng-show="header.key == 'pid'" class="statCellExtraLarge"  ng-bind="row[header.key].v"></div>
          <div ng-show="header.key != 'pid' && header.key != 'gid'" class="statCellSmall" ng-bind="row[header.key].v"></div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <!--
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="10"></div>
        </td>
      </tr>
      -->
    </tfoot>
  </table>
</div>


