body { padding-top: 0px; }

table.tableSection {
    width: 100%;
    table-layout: fixed;
}

table.tableSection thead, table.tableSection tbody {
    float: left;
}

table.tableSection tbody {
    overflow: auto;
    height: 500px;
}

table.tableSection th, table.tableSection td {
    text-align: center;
    padding: 4px;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.lr-drop-target-before{
  border-left: 2px solid orange;
}

.lr-drop-target-after{
  border-right: 2px solid orange;
}

.navbar {
    margin-bottom: 10px;
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
